/ This is the one-textbox search form,
/ with the icon of the magnefying glass
/ and the "pretty" graphic (as defined in the CSS file).
/ One hopes that the 12-column layout feature of bootstrap
/ will allow the form to be in one proportion of the layout
/ and the graphic in what's left of the layout, so it'll
/ display well as the window width shrinks down for phones.
h5 Test of calling partial layout