<br />
<h1>Last 50 Songs</h1>
<% form_tag songs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= draw_songs(@songs, :no_track, :no_dnd) %>

<br />

