-unless ((song.songtype_id != 2) || !song.apid || (!!song.apid && !!song.apid.active))
  tr id="<%=song.id%>"
    -if false # toggledraws.include?(:checkbox)
      td &nbsp;
    -if toggledraws.include?(:request_button)
      td &nbsp;
    td = song.title
    -unless toggledraws.include?(:no_track)
      td = song.track
    -unless toggledraws.include?(:no_artist)
      td = link_to song.artist.name, song.artist
    -unless toggledraws.include?(:no_album)
      td = link_to song.album.name, song.album
    -unless toggledraws.include?(:no_genre)
      td =h song.genre.name
-else
  tr id="<%=song.id%>"
    -if false # toggledraws.include?(:checkbox)
      td =check_box_tag("songs[]", song.id, false, :class=>'song')
    -if toggledraws.include?(:request_button)
      td = link_to "Request", :controller => "songs", :id => song, :action => :pick
    td = link_to song.title, song
    -unless toggledraws.include?(:no_dnd)
      =hidden_field_tag("index[]", song.form_idx.to_i, :class=>'reqlist')
    -unless toggledraws.include?(:no_track)
      td = song.track
    -unless toggledraws.include?(:no_artist)
      td = link_to song.artist.name, song.artist
    -unless toggledraws.include?(:no_album)
      td = link_to song.album.name, song.album
    -unless toggledraws.include?(:no_genre)
      td =h song.genre.name


