// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";


// These default colors will be used by a bunch of stuff, so edit these
$BackgroundMain:#B4E4FC;
$BackgroundImage:'hibiscus_blue.png';


$NavBarStartGradient:#B1ADFF;
$NavBarEndGradient:#B6E3FF;

$NavBarText:#A400B1; // This is the only NavBar text color that gets used right now
$NavBarTextAlt:#262626; // Not used
$NavBarTextLink:#AAF;   // Not used

$TableMain:#A5B8FB;
$TableAlternate:#F8AEDE;
$TableTextMain:#0000FE;
$TableTextAlt:#AD0073;

// Alert boxes colors
$AlertSuccessBox:#70C6F9;
$AlertSuccessText:#05346C;

div.imageSub { 
  position: relative; 
}

div.imageSub img { 
  z-index: 1; 
}

div.imageSub div {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 0;
  padding: 4px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
}

div.imageSub div.blackbg {
  z-index: 2;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  
}

div.imageSub div.label {
  z-index: 3;
  color: white;
  
}

div.imageSub {
  background: url($BackgroundImage) no-repeat;
  background-size: 120px 120px;
  background-position: right 20px top 10px;
  
}


// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
  
.navbar-default {
    background-image: -webkit-linear-gradient(top, $NavBarStartGradient 0, $NavBarEndGradient 100%);
    background-image: -o-linear-gradient(top, $NavBarStartGradient 0, $NavBarEndGradient 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from($NavBarStartGradient), to($NavBarEndGradient));
    background-image: linear-gradient(to bottom, $NavBarStartGradient 0, $NavBarEndGradient 100%);
    //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    //filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: -webkit-linear-gradient(top, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  background-image: -o-linear-gradient(top, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($NavBarStartGradient), to($NavBarEndGradient));
  background-image: linear-gradient(to bottom, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.navbar-brand {
    text-shadow: 0 1px 0 rgba(55, 55, 55, .5);
    color: $NavBarTextLink !important;
}

.navbar-nav>li>a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    color: $NavBarTextLink !important;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, $NavBarStartGradient, $NavBarEndGradient  100%);
  background-image: -o-linear-gradient(top, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($NavBarStartGradient), to($NavBarEndGradient));
  background-image: linear-gradient(to bottom, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  //filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-radius: 4px;
}

.navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top, $NavBarStartGradient, $NavBarEndGradient  100%);
  background-image: -o-linear-gradient(top, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($NavBarStartGradient), to($NavBarEndGradient));
  background-image: linear-gradient(to bottom, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}

.navbar-inverse .navbar-nav>.open>a {
  background-image: -webkit-linear-gradient(top, $NavBarStartGradient, $NavBarEndGradient  100%);
  background-image: -o-linear-gradient(top, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($NavBarStartGradient), to($NavBarEndGradient));
  background-image: linear-gradient(to bottom, $NavBarStartGradient 0, $NavBarEndGradient 100%);
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}

.navbar-inverse .navbar-brand {
  // , .navbar-inverse .navbar-nav>li>a
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    color: $NavBarText !important;
    
}

.navbar-inverse {
  color: $NavBarTextAlt !important;
  
}

.navbar-nav>li>a {
  color: $NavBarTextAlt !important;
  
}

.navbar-nav>li>a active{
  color: $NavBarTextAlt !important;
  
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-radius: 0;
}


//.navbar {
//  background-color: #FEF5C0;
//  color: #FF0000;
//}
//
//.nav {
//  color: #FF0000;
//}
//// override for the 'Home' navigation link
//.navbar-brand {
//  font-size: inherit;
//  background-color: #E5FFFE;
//  color: #00125C !important;
//  # border-color: #000;
//  }
//
//.navbar-brand > a:hover {
//  color: #FF0000 !important;
//}
 
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
table {
  // top of table color
  // applies to "default" parts of other kinds of tables
  // like the table-striped
  background-color: #0080FF;  
  }
  
.table-striped {
  
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  // odd rows will have these attributes
  background-color: $TableMain;
  color: $TableTextMain !important;
  
  
}

.table-striped>tbody>tr:nth-child(odd)>td>a,
.table-striped>tbody>tr:nth-child(odd)>th>a {
  // odd rows will have these attributes
  background-color: $TableMain;
  color: $TableTextMain !important;
}


.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  // every other row (even) will have these attributes
  background-color: $TableAlternate;
  color: $TableTextAlt !important;
  }

.table-striped>tbody>tr:nth-child(even)>td>a,
.table-striped>tbody>tr:nth-child(even)>th>a {
  // every other row (even) will have these attributes
  background-color: $TableAlternate;
  color: $TableTextAlt !important;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #BFEAFB;
  background: url($BackgroundImage) no-repeat;
  background-size: 120px 120px;
  background-position: right 20px top 10px;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
  
.alert-success {
  background-color: $AlertSuccessBox !important;
  color: $AlertSuccessText !important;
  
  }