<h2>Playlists</h2>

<table>
  <tr>
    <th width="20%">User</th>
    <th width="20%">Name</th>
  </tr>

<% for playlist in @other_playlists %>
  <tr>
    <td><%=h playlist.user.name %></td>
    <td><%=link_to playlist.name, playlist %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New playlist', new_playlist_path %>
