li = link_to 'Now Playing',  root_path,         class: 'navbar-link'
li = link_to 'Songs',        songs_path,        class: 'navbar-link'
li = link_to 'Albums',       albums_path,       class: 'navbar-link'
li = link_to 'Artists',      artists_path,      class: 'navbar-link'
li = link_to 'Genres',       genres_path,       class: 'navbar-link'
li = link_to 'Play History', currentsongs_path, class: 'navbar-link'